

<div id="contact" class="fade-in">
    <p class="Kanit-Title">Contact Me</p>
    <div class="dark-area">
        <p class="Secondary-Text" style="text-align: center;">I'm always available on Discord @Gurkis, or contact me on socials:</p>
        <span class="center-items">
            <a href="https://discord.gg/NAxKPAxqRt" class="button-icon" target="_blank"><img src="assets/discord.png" alt="Discord"></a>
            <a href="https://x.com/gurkisdev" class="button-icon" target="_blank"><img src="assets/twitter.png" alt="Twitter"></a>
            <a href="https://www.youtube.com/@GurkisDev" class="button-icon" target="_blank"><img src="assets/youtube.png" alt="YouTube"></a>
            <a href="https://instagram.com/gurkisdev" class="button-icon" target="_blank"><img src="assets/instagram.png" alt="Instagram"></a>
        </span>
    </div>
</div>
<button id="backToTop" class="back-to-top" onclick="scrollToTop()">▲</button>

<footer>
    <p>&copy; 2025 Gurkis. All rights reserved.</p>
</footer>
