<header id="header" class="header">
    <div class="header-left gurkis">
        <img onclick="location.href='gurkis.html'" src="assets/gurkstamp_nobg.png" alt="Gurkis">
    </div>
    <div class="nav-buttons">
        <button class="button-neon" onclick="location.href='index.html'">Home</button>
        <!-- <button class="button-neon" onclick="location.href='portfolio.html'">Portfolio</button> -->
        <button class="button-neon" onclick="location.href='projects.html'">Projects</button>
        <button class="button-neon" onclick="location.href='contactme.html'">Contact</button>
    </div>
</header>
