<header id="header" class="site-nav">
    <a class="nav-brand gurkis" href="index.html">
        <img class="nav-logo" src="assets/gurkstamp_nobg.png" alt="Gurkis">
    </a>
    <nav class="nav-buttons">
        <button class="button-neon" onclick="location.href='index.html'">Home</button>
        <button class="button-neon" onclick="location.href='projects.html'">Projects</button>
        <button class="button-neon" onclick="location.href='devlog.html'">Devlog</button>
        <button class="button-neon" onclick="location.href='contactme.html'">Contact</button>
    </nav>
</header>
